<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.oceancraft.chess">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ru.oceancraft.chess.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chess">
        <activity
            android:name="ru.oceancraft.chess.AppActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="io.sentry.dsn" android:value="https://27092d6d6d4d4b4c96eb27850114cabd@o468187.ingest.sentry.io/5495717" />
    </application>

</manifest>